[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
[submodule "spacemacs/.spacemacs_layers/cquery/emacs-cquery"]
	path = spacemacs/.spacemacs_layers/cquery/emacs-cquery
	url = https://github.com/cquery-project/emacs-cquery
